:root {
/* Cores Principais */
    --color-primary: #1d9414;
    --color-secondary: #25bc1a;
    --color-dark: #276d22;
    --color-light: #e7e7e7;
    --color-white: #ffffff;

/* Fonte de Texto */
    --font-base: 'Arial', sans-serif;
    --font-size-base: 16px;
    --font-size-title: 24px;
    --font-size-subtitle: 18px;

/* Espaçamento Padrão */
     --spacing-small: 0.5rem;
     --spacing-medium: 1rem;
     --spacing-large: 2rem;

/* Espaçamento Padrão */
    --border-radius: 5px;
}

body {
    font-family: var(--font-base);
    font-size: var(--font-size-base);
    margin: 0;
    padding: 0;
    background: var(--color-light);
}

header {
    background: var(--color-dark);
    color: var(--color-white);
    padding: var(--spacing-medium);
}

header nav a {
    color: var(--color-white);
    margin-right: var(--spacing-medium);
    text-decoration: none;    
}

main {
    padding: var(--spacing-large);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

form {
    background: var(--color-white);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    width: 90%;
    max-width: 25em;
}

#resultado-imc-tmb {
    background: var(--color-white);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    width: 90%;
    max-width: 25em;
    margin-top: var(--spacing-medium);
}

label {
    display: block;
    margin-top: var(--spacing-medium);
}

button {
    margin-top: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

input, button {
    padding: 0.5em;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background: var(--color-secondary);
}

@media (min-width: 768px) {
  form {
    width: 400px;
  }

  input, button {
    font-size: 16px;
  }
}